 
<footer class="bg-dark">
     <div class="container py-5">
         <div class="row py-3 text-white">
             <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                <div class="logo">
                <a href="#">Your Logo</a>
            </div>
                
             </div>
             <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                 
             </div>
             <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                 
             </div>
             <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                 <h6 class="text-uppercase font-weight-bold mb-4">Company</h6>
                 <ul class="list-unstyled mb-0">
                     <li class="mb-2"><a href="#" class="text-muted">Accueil</a></li>
                     <li class="mb-2"><a href="#" class="text-muted">Actualités</a></li>
                     <li class="mb-2"><a href="#" class="text-muted">Nouvelles</a></li>
                     <li class="mb-2"><a href="#" class="text-muted">Contact</a></li>
                 </ul>
             </div>
             <div class="col-lg-4 col-md-6 mb-lg-0">
                 <h6 class="text-uppercase font-weight-bold mb-4 text-align-center">Ofmverbi</h6>
                 <p class="mb-2">
                 </p>
                  <p class="text-muted mb-2">info@ofmtogo.org</p>
                  <p class="text-muted mb-2">© 2020 ofmtogo - All rights reserved</p>
                 <ul class="list-inline mt-4 text-white">
                     <li class="list-inline-item"><a href="#" target="_blank" title="twitter"><fa-icon [icon]='faTwitter' class="fab fa-2x"></fa-icon></a></li>
                     <li class="list-inline-item"><a href="#" target="_blank" title="facebook"><fa-icon [icon]='faFacebook' class="fab fa-2x"></fa-icon></a></li>
                     <li class="list-inline-item"><a href="#" target="_blank" title="instagram"><fa-icon [icon]='faInstagram' class="fab fa-2x"></fa-icon></a></li>
                     <li class="list-inline-item"><a href="#" target="_blank" title="youtube"><fa-icon [icon]='faYoutube' class="fab fa-2x"></fa-icon></a></li>
                     <li class="list-inline-item"><a href="#" target="_blank" title="google"><fa-icon [icon]='faGoogle' class="fab fa-2x"></fa-icon></a></li>
                     <li class="list-inline-item"><a href="#" target="_blank" title="yahoo"><fa-icon [icon]='faYahoo' class="fab fa-2x"></fa-icon></a></li>
                 </ul>
             </div>
         </div>
     </div>
     <!--<hr class="p-0 m-0 b-0">
     <div class="bg-light py-2">
         <div class="container text-center">
             <p class="text-muted mb-0 py-2">© 2020 Xl1 Full-Stack developer All risghts reserved.</p>
         </div>
     </div>-->
 </footer>

 