<app-nav></app-nav>
<section class="breadcrumb_area br_image">
  <div class="container">
    <div class="page-cover text-center">
      <h2 class="page-cover-tittle">Evenements</h2>
    </div>
  </div>
</section>
<div class="spad">
  <div class="section_title_container">
    <div class="section_title">Prochain evenement</div>
    <div class="section_subtitle">Experience God's Presence</div>
  </div>

  <div class="row about_row">
    <div class="col-md-6">
      <div class="upcoming_image">
        <img src="assets/images/event/upcoming.jpg" alt="" />
      </div>
    </div>
    <div class="col-md-6">
      <div
        class="event_container d-flex flex-md-row flex-column align-items-start justify-content-start"
      >
        <div class="event_date">
          <div
            class="d-flex flex-column align-items-center justify-content-center"
          >
            <div class="event_day">18</div>
            <div class="event_month">mar</div>
          </div>
        </div>
        <div class="event_content">
          <div class="event_title">
            <a href="#">exploring the Christian faith</a>
          </div>
          <ul class="event_row">
            <li>
              <div class="event_icon">
                <img src="assets/images/calendar.png" alt="" />
              </div>
              <span>08:00 AM - 11:00 AM</span>
            </li>
            <li>
              <div class="event_icon">
                <img src="assets/images/location.png" alt="" />
              </div>
              <span>1195 Lobortis Rd, New Orleans, New Hampshire</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="event_text">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer
          gestas ante eget risus varius, sed euismod tellu suscipit. Aenean
          condimentum nulla, vitae imperdiet urna varius volutpat. Mauris
          lobotis comodo lana mollis. Integer ut neque eu augue hendrerit
          efficitur quis utona turpis uisques nibh ac magna faucibus lacinia
          bibendum nibh ac magna.
        </p>
      </div>

      <!-- Event Timer -->
      <div class="event_timer_container ml-lg-auto">
        <ul class="event_timer">
          <li>
            <div id="day" class="event_num">00</div>
            <div class="event_ss">day</div>
          </li>
          <li>
            <div id="hour" class="event_num">00</div>
            <div class="event_ss">hrs</div>
          </li>
          <li>
            <div id="minute" class="event_num">00</div>
            <div class="event_ss">min</div>
          </li>
          <li>
            <div id="second" class="event_num">00</div>
            <div class="event_ss">sec</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="events">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section_title_container text-center">
          <div class="section_title">liste des evenements</div>
          <div class="section_subtitle">Events held and scheduled by us</div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="events_items d-flex flex-lg-row flex-column align-items-lg-start align-items-center justify-content-lg-between justify-content-center flex-wrap"
  >
    <!-- Event -->
    <div class="events_item">
      <div class="events_item_image">
        <img src="assets/images/event/event_2.jpg" alt="" />
      </div>
      <div
        class="events_item_content d-flex flex-row align-items-start justfy-content-start"
      >
        <div class="event_date">
          <div
            class="d-flex flex-column align-items-center justify-content-center"
          >
            <div class="event_day">19</div>
            <div class="event_month">mar</div>
          </div>
        </div>
        <div class="event_content">
          <div class="event_title">
            <a href="#">To Love and to Cherish, The Wedding</a>
          </div>
          <ul class="event_row">
            <li>
              <div class="event_icon">
                <img src="images/calendar.png" alt="" />
              </div>
              <span>08:00 AM - 11:00 AM</span>
            </li>
            <li>
              <div class="event_icon">
                <img src="images/location.png" alt="" />
              </div>
              <span>1195 Lobortis Rd, New Orleans, New Hampshire</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Event -->
    <div class="events_item">
      <div class="events_item_image">
        <img src="assets/images/event/event_3.jpg" alt="" />
      </div>
      <div
        class="events_item_content d-flex flex-row align-items-start justfy-content-start"
      >
        <div class="event_date">
          <div
            class="d-flex flex-column align-items-center justify-content-center"
          >
            <div class="event_day">20</div>
            <div class="event_month">mar</div>
          </div>
        </div>
        <div class="event_content">
          <div class="event_title">
            <a href="#">The Christian Community in America</a>
          </div>
          <ul class="event_row">
            <li>
              <div class="event_icon">
                <img src="images/calendar.png" alt="" />
              </div>
              <span>08:00 AM - 11:00 AM</span>
            </li>
            <li>
              <div class="event_icon">
                <img src="images/location.png" alt="" />
              </div>
              <span>1195 Lobortis Rd, New Orleans, New Hampshire</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Event -->
    <div class="events_item">
      <div class="events_item_image">
        <img src="assets/images/event/event_4.jpg" alt="" />
      </div>
      <div
        class="events_item_content d-flex flex-row align-items-start justfy-content-start"
      >
        <div class="event_date">
          <div
            class="d-flex flex-column align-items-center justify-content-center"
          >
            <div class="event_day">20</div>
            <div class="event_month">mar</div>
          </div>
        </div>
        <div class="event_content">
          <div class="event_title">
            <a href="#">On-Campus Young Family Small Group</a>
          </div>
          <ul class="event_row">
            <li>
              <div class="event_icon">
                <img src="images/calendar.png" alt="" />
              </div>
              <span>08:00 AM - 11:00 AM</span>
            </li>
            <li>
              <div class="event_icon">
                <img src="images/location.png" alt="" />
              </div>
              <span>1195 Lobortis Rd, New Orleans, New Hampshire</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Event -->
    <div class="events_item">
      <div class="events_item_image">
        <img src="assets/images/event/event_5.jpg" alt="" />
      </div>
      <div
        class="events_item_content d-flex flex-row align-items-start justfy-content-start"
      >
        <div class="event_date">
          <div
            class="d-flex flex-column align-items-center justify-content-center"
          >
            <div class="event_day">21</div>
            <div class="event_month">mar</div>
          </div>
        </div>
        <div class="event_content">
          <div class="event_title">
            <a href="#">Parent Child Dedication Workshop</a>
          </div>
          <ul class="event_row">
            <li>
              <div class="event_icon">
                <img src="images/calendar.png" alt="" />
              </div>
              <span>08:00 AM - 11:00 AM</span>
            </li>
            <li>
              <div class="event_icon">
                <img src="images/location.png" alt="" />
              </div>
              <span>1195 Lobortis Rd, New Orleans, New Hampshire</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Event -->
    <div class="events_item">
      <div class="events_item_image">
        <img src="assets/images/event/event_6.jpg" alt="" />
      </div>
      <div
        class="events_item_content d-flex flex-row align-items-start justfy-content-start"
      >
        <div class="event_date">
          <div
            class="d-flex flex-column align-items-center justify-content-center"
          >
            <div class="event_day">21</div>
            <div class="event_month">mar</div>
          </div>
        </div>
        <div class="event_content">
          <div class="event_title">
            <a href="#">Group Leader Interest Meeting</a>
          </div>
          <ul class="event_row">
            <li>
              <div class="event_icon">
                <img src="images/calendar.png" alt="" />
              </div>
              <span>08:00 AM - 11:00 AM</span>
            </li>
            <li>
              <div class="event_icon">
                <img src="images/location.png" alt="" />
              </div>
              <span>1195 Lobortis Rd, New Orleans, New Hampshire</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Event -->
    <div class="events_item">
      <div class="events_item_image">
        <img src="assets/images/event/event_7.jpg" alt="" />
      </div>
      <div
        class="events_item_content d-flex flex-row align-items-start justfy-content-start"
      >
        <div class="event_date">
          <div
            class="d-flex flex-column align-items-center justify-content-center"
          >
            <div class="event_day">22</div>
            <div class="event_month">mar</div>
          </div>
        </div>
        <div class="event_content">
          <div class="event_title">
            <a href="#">Wedding of KARYN and NICHOLAS</a>
          </div>
          <ul class="event_row">
            <li>
              <div class="event_icon">
                <img src="images/calendar.png" alt="" />
              </div>
              <span>08:00 AM - 11:00 AM</span>
            </li>
            <li>
              <div class="event_icon">
                <img src="images/location.png" alt="" />
              </div>
              <span>1195 Lobortis Rd, New Orleans, New Hampshire</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Nav -->
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="page_nav">
          <ul>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li>
              <a href="#"><i>>></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
