<app-nav></app-nav>
<app-carousel></app-carousel>

<section class="faith-about-area section-padding-100-0 pt-4 about-section spad">
  <div class="container">
    <div class="row">
      <div class="col-md-6 about-content">
        <div>
          <img src="assets/images/church/holy-star.png" alt="" />
          <h2 class="">“Présentation de la Province”</h2>
          <h6>
            Donec quis metus ac arcu luctus accumsan. Nunc in justo tincidunt,
            sodales nunc id, finibus nibh. Class aptent taciti sociosqu ad
            litora torquent per conubia nostra, per inceptos himenaeos. Fusce
            nec ante vitae lacus aliquet vulputate. Donec scelerisque accumsan
            molestie. Vestibulum ante ipsum primis in faucibus orci luctus et
            ultrices posuere cubilia
          </h6>
          <p>
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui<br />
            officia dese mollit anim id est laborum. Sed ut perspiciatis<br />
            unde omnis iste.
          </p>
          <button href="" class="site-btn sb-wide">Rejoignez nous</button>
        </div>
      </div>
      <div class="col-md-6 about-img">
        <img src="assets/images/about.jpg" alt="" />
      </div>
    </div>
  </div>
</section>

<section class="services-section pb-4">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="service-box">
          <h4>
            <fa-icon
              [icon]="faFire"
              [styles]="{ stroke: 'red', color: 'red', margin: '5' }"
            ></fa-icon
            >Nos Valeurs
          </h4>
          <p>
            Excepteur sint occaecat cupidatat non, <br />
            sunt in culpa qui officia dese mollit anim id est laborum. Sed ut
            perspiciatis unde omnis iste.
          </p>
          <a href="#" class="s-readmore"
            >Readmore
            <i
              ><fa-icon
                [icon]="faAngleDoubleRight"
                [styles]="{ color: 'red' }"
              ></fa-icon></i
          ></a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="service-box">
          <h4>
            <fa-icon
              [icon]="faEye"
              [styles]="{ stroke: 'red', color: 'red', margin: '5' }"
            ></fa-icon
            >Notre Vision
          </h4>
          <p>
            Excepteur sint occaecat cupidatat non, <br />
            sunt in culpa qui officia dese mollit anim id est laborum. Sed ut
            perspiciatis unde omnis iste.
          </p>
          <a href="#" class="s-readmore"
            >Readmore
            <i
              ><fa-icon
                [icon]="faAngleDoubleRight"
                [styles]="{ color: 'red' }"
              ></fa-icon></i
          ></a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="service-box">
          <h4>
            <fa-icon
              [icon]="faStar"
              [styles]="{ stroke: 'red', color: 'red', margin: '5' }"
            ></fa-icon
            >Nos Missions
          </h4>
          <p>
            Excepteur sint occaecat cupidatat non, <br />
            sunt in culpa qui officia dese mollit anim id est laborum. Sed ut
            perspiciatis unde omnis iste.
          </p>
          <a href="#" class="s-readmore"
            >Readmore
            <i
              ><fa-icon
                [icon]="faAngleDoubleRight"
                [styles]="{ color: 'red' }"
              ></fa-icon></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Pastors section -->
<section class="pastors-section spad">
  <div class="container">
    <div class="section-title">
      <!--<span>Experience God's Presence</span>-->
      <h2 [ngStyle]="{ color: 'white' }">Administration de la Province</h2>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="pastor">
          <div
            class="pastor-img set-bg"
            data-setbg="assets/images/pastors/1.jpg"
          ></div>
          <h3>Aaron Ballance</h3>
          <p>Pastor</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="pastor">
          <div
            class="pastor-img set-bg"
            data-setbg="assets/images/pastors/2.jpg"
          ></div>
          <h3>Billy Graham</h3>
          <p>Lead Pastor</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="pastor">
          <div
            class="pastor-img set-bg"
            data-setbg="assets/images/pastors/3.jpg"
          ></div>
          <h3>Lead Pastor</h3>
          <p>Pastor</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="pastor">
          <div
            class="pastor-img set-bg"
            data-setbg="assets/images/pastors/4.jpg"
          ></div>
          <h3>Pat Robertson</h3>
          <p>Protestant Clergy</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Pastors section end -->

<!-- ##### Blog Area Start ##### -->
<div class="faith-blog-area section-padding-100-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading text-center mx-auto">
          <img src="img/core-img/cross.png" alt="" />
          <img src="assets/images/church/cross-2.png" alt="" />
          <h3>Les fraternités</h3>
          <p>
            Donec quis metus ac arcu luctus accumsan. Nunc in justo tincidunt,
            sodales nunc id, finibus nibh.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Single Blog Area -->
      <div class="col-12 col-lg-4">
        <div class="single-blog-area mb-100">
          <div class="blog-thumbnail">
            <img src="assets/images/fraternite/1.jpg" alt="" />
            <div class="post-date">
              <a href="#">Fraternité 1</a>
            </div>
          </div>
          <div class="blog-content">
            <a href="#" class="blog-title">Fraternité 1</a>
            <p>
              Fusce nec ante vitae lacus aliquet vulp utate. Donec scelerisque
              accumsan molestie. Vestibulum ante ipsum primis.
            </p>
            <a href="#" class="s-readmore"
              >Readmore
              <i
                ><fa-icon
                  [icon]="faAngleDoubleRight"
                  [styles]="{ color: 'red' }"
                ></fa-icon></i
            ></a>
          </div>
        </div>
      </div>

      <!-- Single Blog Area -->
      <div class="col-12 col-lg-4">
        <div class="single-blog-area mb-100">
          <div class="blog-thumbnail">
            <img src="assets/images/fraternite/2.jpg" alt="" />
            <div class="post-date">
              <a href="#">Fraternité 2</a>
            </div>
          </div>
          <div class="blog-content">
            <a href="#" class="blog-title">Fraternité 2</a>
            <p>
              Fusce nec ante vitae lacus aliquet vulp utate. Donec scelerisque
              accumsan molestie. Vestibulum ante ipsum primis.
            </p>
            <a href="#" class="s-readmore"
              >Readmore
              <i
                ><fa-icon
                  [icon]="faAngleDoubleRight"
                  [styles]="{ color: 'red' }"
                ></fa-icon></i
            ></a>
          </div>
        </div>
      </div>

      <!-- Single Blog Area -->
      <div class="col-12 col-lg-4">
        <div class="single-blog-area mb-100">
          <div class="blog-thumbnail">
            <img src="assets/images/fraternite/3.jpg" alt="" />
            <div class="post-date">
              <a href="#">Fraternité 3</a>
            </div>
          </div>
          <div class="blog-content">
            <a href="#" class="blog-title">Fraternité 3</a>
            <p>
              Fusce nec ante vitae lacus aliquet vulp utate. Donec scelerisque
              accumsan molestie. Vestibulum ante ipsum primis.
            </p>
            <a href="#" class="s-readmore"
              >Readmore
              <i
                ><fa-icon
                  [icon]="faAngleDoubleRight"
                  [styles]="{ color: 'red' }"
                ></fa-icon></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ##### Blog Area End ##### -->
<app-footer></app-footer>
<ngx-spinner>
  <p style="color: white">Please Wait...</p>
</ngx-spinner>
