<app-nav></app-nav>

<section class="breadcrumb_area br_image">
  <div class="container">
    <div class="page-cover text-center">
      <h2 class="page-cover-tittle">Articles</h2>
    </div>
  </div>
</section>

<section class="event_blog_area section_gap spad">
  <div class="container">
    <div class="row event_two">
      <div class="col-lg-4 col-sm-6">
        <div class="event_post">
          <img src="assets/images/article/blog1.jpg" alt="" />
          <a href="event-details.html"
            ><h2 class="event_title">Répandre la paix dans le monde</h2></a
          >
          <ul class="list_style sermons_category event_category">
            <li>
              <i><fa-icon [icon]="faUser"></fa-icon></i>Auteur: Père Paul
            </li>
            <li>
              <i><fa-icon [icon]="faCalendar"></fa-icon></i>Paru le 10 Dec 2019
            </li>
            <li>
              <i><fa-icon [icon]="faLocationArrow"></fa-icon></i>Santa monica,
              Los Angeles, USA
            </li>
          </ul>
          <a href="#" class="btn_hover">Voir Details</a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="event_post">
          <img src="assets/images/article/blog2.jpg" alt="" />
          <a href="event-details.html"
            ><h2 class="event_title">Répandre la joie dans le monde</h2></a
          >
          <ul class="list_style sermons_category event_category">
            <li>
              <i><fa-icon [icon]="faUser"></fa-icon></i>Auteur: Père Paul
            </li>
            <li>
              <i><fa-icon [icon]="faCalendar"></fa-icon></i>Paru le 10 Dec 2019
            </li>
            <li>
              <i><fa-icon [icon]="faLocationArrow"></fa-icon></i>Santa monica,
              Los Angeles, USA
            </li>
          </ul>
          <a href="#" class="btn_hover">Voir Details</a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="event_post">
          <img src="assets/images/article/blog3.jpg" alt="" />
          <a href="event-details.html"
            ><h2 class="event_title">Répandre la lumiére</h2></a
          >
          <ul class="list_style sermons_category event_category">
            <li>
              <i><fa-icon [icon]="faUser"></fa-icon></i>Auteur: Père Paul
            </li>
            <li>
              <i><fa-icon [icon]="faCalendar"></fa-icon></i>Paru le 10 Dec 2019
            </li>
            <li>
              <i><fa-icon [icon]="faLocationArrow"></fa-icon></i>Santa monica,
              Los Angeles, USA
            </li>
          </ul>
          <a href="#" class="btn_hover">Voir Details</a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="event_post">
          <img src="assets/images/article/blog1.jpg" alt="" />
          <a href="event-details.html"
            ><h2 class="event_title">Répandre la paix dans le monde</h2></a
          >
          <ul class="list_style sermons_category event_category">
            <li>
              <i><fa-icon [icon]="faUser"></fa-icon></i>Auteur: Père Paul
            </li>
            <li>
              <i><fa-icon [icon]="faCalendar"></fa-icon></i>Paru le 10 Dec 2019
            </li>
            <li>
              <i><fa-icon [icon]="faLocationArrow"></fa-icon></i>Santa monica,
              Los Angeles, USA
            </li>
          </ul>
          <a href="#" class="btn_hover">Voir Details</a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="event_post">
          <img src="assets/images/article/blog2.jpg" alt="" />
          <a href="event-details.html"
            ><h2 class="event_title">Répandre la joie dans le monde</h2></a
          >
          <ul class="list_style sermons_category event_category">
            <li>
              <i><fa-icon [icon]="faUser"></fa-icon></i>Auteur: Père Paul
            </li>
            <li>
              <i><fa-icon [icon]="faCalendar"></fa-icon></i>Paru le 10 Dec 2019
            </li>
            <li>
              <i><fa-icon [icon]="faLocationArrow"></fa-icon></i>Santa monica,
              Los Angeles, USA
            </li>
          </ul>
          <a href="#" class="btn_hover">Voir Details</a>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="event_post">
          <img src="assets/images/article/blog3.jpg" alt="" />
          <a href="event-details.html"
            ><h2 class="event_title">Répandre la lumiére</h2></a
          >
          <ul class="list_style sermons_category event_category">
            <li>
              <i><fa-icon [icon]="faUser"></fa-icon></i>Auteur: Père Paul
            </li>
            <li>
              <i><fa-icon [icon]="faCalendar"></fa-icon></i>Paru le 10 Dec 2019
            </li>
            <li>
              <i><fa-icon [icon]="faLocationArrow"></fa-icon></i>Santa monica,
              Los Angeles, USA
            </li>
          </ul>
          <a href="#" class="btn_hover">Voir Details</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================Blog Area=================-->

<app-footer></app-footer>
