<app-nav></app-nav>
<section class="breadcrumb_area br_image">
  <div class="container">
    <div class="page-cover text-center">
      <h2 class="page-cover-tittle">Homélies</h2>
    </div>
  </div>
</section>

<!-- Sermon section -->
<section class="sermon-section spad">
  <div class="section-title">
    <span>Faites l'expérience de la présence de Dieu</span>
    <h2>Homélie d'aujourd'hui</h2>
  </div>
  <div class="sermon-warp">
    <div class="row">
      <div
        class="set-bg col-md-6 col-md-offset-6"
        data-setbg="assets/images/sermons/sermon-bg.jpg"
      ></div>
      <div class="col-md-6 col-md-offset-6">
        <div class="sermon-content">
          <h2>Le Seigneur suffit à tous nos besoins</h2>
          <ul class="sermon-info">
            <li>Homélie de: <span>Vincent John</span></li>
            <li>Categories: <span>Prière</span></li>
            <li><span>Le Dimanche 12 Aout 2020</span></li>
          </ul>
          <p>
            Car Dieu n'a pas envoyé son Fils dans le monde pour condamner le
            monde, mais pour sauver le monde à travers lui.
          </p>
          <div class="icon-links">
            <a href=""
              ><i><fa-icon [icon]="faHeadphones"></fa-icon></i
            ></a>
            <a href=""
              ><i><fa-icon [icon]="faFileDownload"></fa-icon></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Sermons list section -->
<section class="sermons-list-section spad">
  <div class="container">
    <div class="section-title">
      <h2>Toutes nos homélies</h2>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="sermon-item">
          <div
            class="si-thumb set-bg"
            data-setbg="assets/images/sermons/1.jpg"
          ></div>
          <div class="si-content">
            <h4>I Will Be Gracious to Whom I Will Be Gracious</h4>
            <ul class="sermon-info">
              <li>Homélie de: <span>Vincent John</span></li>
              <li>Categories: <span>Prière</span></li>
              <li><span>Le Dimanche 12 Aout 2020</span></li>
            </ul>
            <div class="icon-links">
              <a href=""
                ><i><fa-icon [icon]="faHeadphones"></fa-icon></i
              ></a>
              <a href=""
                ><i><fa-icon [icon]="faFileDownload"></fa-icon></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="sermon-item">
          <div
            class="si-thumb set-bg"
            data-setbg="assets/images/sermons/2.jpg"
          ></div>
          <div class="si-content">
            <h4>Perseverance of the Saints</h4>
            <ul class="sermon-info">
              <li>Homélie de: <span>Vincent John</span></li>
              <li>Categories: <span>Prière</span></li>
              <li><span>Le Dimanche 12 Aout 2020</span></li>
            </ul>
            <div class="icon-links">
              <a href=""
                ><i><fa-icon [icon]="faHeadphones"></fa-icon></i
              ></a>
              <a href=""
                ><i><fa-icon [icon]="faFileDownload"></fa-icon></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="sermon-item">
          <div
            class="si-thumb set-bg"
            data-setbg="assets/images/sermons/3.jpg"
          ></div>
          <div class="si-content">
            <h4>I Will Be Gracious to Whom I Will Be Gracious</h4>
            <ul class="sermon-info">
              <li>Homélie de: <span>Vincent John</span></li>
              <li>Categories: <span>Prière</span></li>
              <li><span>Le Dimanche 12 Aout 2020</span></li>
            </ul>
            <div class="icon-links">
              <a href=""
                ><i><fa-icon [icon]="faHeadphones"></fa-icon></i
              ></a>
              <a href=""
                ><i><fa-icon [icon]="faFileDownload"></fa-icon></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="sermon-item">
          <div
            class="si-thumb set-bg"
            data-setbg="assets/images/sermons/4.jpg"
          ></div>
          <div class="si-content">
            <h4>The Lofty One Whose Name Is Holy</h4>
            <ul class="sermon-info">
              <li>Homélie de: <span>Vincent John</span></li>
              <li>Categories: <span>Prière</span></li>
              <li><span>Le Dimanche 12 Aout 2020</span></li>
            </ul>
            <div class="icon-links">
              <a href=""
                ><i><fa-icon [icon]="faHeadphones"></fa-icon></i
              ></a>
              <a href=""
                ><i><fa-icon [icon]="faFileDownload"></fa-icon></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="sermon-item">
          <div
            class="si-thumb set-bg"
            data-setbg="assets/images/sermons/5.jpg"
          ></div>
          <div class="si-content">
            <h4>The Lord, a God Merciful and Gracious</h4>
            <ul class="sermon-info">
              <li>Homélie de: <span>Vincent John</span></li>
              <li>Categories: <span>Prière</span></li>
              <li><span>Le Dimanche 12 Aout 2020</span></li>
            </ul>
            <div class="icon-links">
              <a href=""
                ><i><fa-icon [icon]="faHeadphones"></fa-icon></i
              ></a>
              <a href=""
                ><i><fa-icon [icon]="faFileDownload"></fa-icon></i
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="sermon-item">
          <div
            class="si-thumb set-bg"
            data-setbg="assets/images/sermons/6.jpg"
          ></div>
          <div class="si-content">
            <h4>The Lord Whose Name Is Jealous</h4>
            <ul class="sermon-info">
              <li>Homélie de: <span>Vincent John</span></li>
              <li>Categories: <span>Prière</span></li>
              <li><span>Le Dimanche 12 Aout 2020</span></li>
            </ul>
            <div class="icon-links">
              <a href=""
                ><i><fa-icon [icon]="faHeadphones"></fa-icon></i
              ></a>
              <a href=""
                ><i><fa-icon [icon]="faFileDownload"></fa-icon></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pagination-area">
      <ul class="pageination-list">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li>
          <a href="#">Next <i class="fa fa-angle-double-right"></i></a>
        </li>
      </ul>
      <p>Page 1 of 08 results</p>
    </div>
  </div>
</section>
<!-- Sermons list section end -->

<app-footer></app-footer>
