/*---------------------
	Sermons Page
-----------------------*/
.sermons-list-section .pagination-area {
  padding-top: 10px;
}

.sermon-item {
  margin-bottom: 50px;
}

.sermon-item .si-thumb {
  height: 250px;
}

.sermon-item .sermon-info {
  margin-bottom: 10px;
}

.sermon-item .si-content {
  padding: 30px;
  text-align: center;
  -webkit-box-shadow: 0 30px 40px rgba(231, 234, 236, 0.8);
  box-shadow: 0 30px 40px rgba(231, 234, 236, 0.8);
}

.sermon-item .si-content h4 {
  margin-bottom: 15px;
}

.sermon-item .icon-links {
  margin-top: 0;
}

.sermon-item .icon-links a {
  background: #f6f8f9;
  -webkit-box-shadow: 0 0 0px 1px #ebebeb;
  box-shadow: 0 0 0px 1px #ebebeb;
}

.sermon-item .icon-links a:hover {
  background: #dd3e3e;
}

/*---------------------
	Sermone Section
-----------------------*/
.sermon-section {
  padding-bottom: 0;
}

.sermon-warp {
  background: #f6f8f9;
  position: relative;
}

.sermon-left-bg {
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
  top: 0;
}

.sermon-content {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 70px;
}

.sermon-content h2 {
  margin-bottom: 30px;
}

.sermon-info {
  list-style: none;
  margin-bottom: 20px;
}

.sermon-info li {
  font-size: 18px;
  font-family: "Lora", serif;
  font-style: italic;
  margin-bottom: 10px;
}

.sermon-info li span {
  color: #dd3e3e;
}

.icon-links {
  margin-top: 40px;
}

.icon-links a {
  width: 48px;
  height: 48px;
  background: #fff;
  border-radius: 50px;
  text-align: center;
  color: #000000;
  display: inline-block;
  margin-right: 20px;
  font-size: 18px;
  padding-top: 12px;
  -webkit-box-shadow: 0 0 0px 2px #f0f1f1;
  box-shadow: 0 0 0px 2px #f0f1f1;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  margin-top: 10px;
}

.icon-links a:hover {
  background: #dd3e3e;
  color: #fff;
}

/*  large mobile size */
@media only screen and (max-width: 767px) {
  .site-logo {
    display: block;
    margin-right: 60px;
  }
  .header-section .site-btn {
    margin-left: 0;
    float: none;
    margin-top: 20px;
  }
  .nav-switch {
    position: absolute;
    right: 30px;
    font-size: 30px;
    color: #232d37;
    top: 30px;
    display: block;
    cursor: pointer;
  }
  .main-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 111;
    background: #fff;
    width: 100%;
    padding-top: 0;
    padding: 0 20px;
    -webkit-box-shadow: 0px 40px 50px rgba(125, 125, 125, 0.13);
    box-shadow: 0px 40px 50px rgba(125, 125, 125, 0.13);
  }
  .main-menu ul li {
    display: block;
    border-bottom: 1px solid #f1f1f1;
  }
  .main-menu ul li a {
    display: block;
  }
  .main-menu ul li {
    padding: 5px 0;
  }
  .hero-section .hero-content h2 {
    font-size: 45px;
  }
  .event-info {
    margin-bottom: 40px;
  }
  .event-section .site-btn {
    top: 0;
    margin-top: 30px;
  }
  .event-section .counter {
    margin-left: 0;
    display: block;
  }
  .event-section .counter .counter-item:first-child {
    padding-left: 0;
  }
  .event-section .counter .counter-item {
    padding: 5px 13px;
  }
  .about-content {
    margin-bottom: 40px;
  }
  .service-box {
    margin-bottom: 30px;
  }
  .sermon-content {
    padding-left: 0;
  }
  .sermon-left-bg {
    display: none;
  }
  .event-more {
    text-align: left;
  }
  .event-more .site-btn {
    margin-bottom: 40px;
  }
  .event-list .el-metas {
    padding-top: 30px;
  }
  .event-list .el-thubm {
    margin-bottom: 30px;
  }
  .donate-card {
    margin-left: 0;
    margin-top: 40px;
    padding: 25px 25px;
  }
  .blog-item {
    margin-bottom: 40px;
  }
  .newsletter-section {
    text-align: center;
  }
  .newsletter-form {
    margin-top: 30px;
    padding-left: 0;
  }
  .footer-top-section {
    padding-bottom: 0;
  }
  .footer-top-section .map-area {
    position: relative;
    height: 400px;
    width: 100%;
    margin-top: 50px;
  }
  .copyright,
  .footer-section .social {
    text-align: center;
  }
  .footer-section .social {
    padding-top: 15px;
  }
  .pastor {
    margin-bottom: 40px;
  }
  .widget {
    padding-left: 0;
  }
  .sidebar {
    padding-top: 50px;
  }
  .single-post .social-share {
    text-align: left;
    padding-top: 30px;
  }
}

/* small Mobile :320px. */
@media only screen and (max-width: 479px) {
  .hero-section .hero-content h2 {
    font-size: 35px;
  }
  .pagination-area p {
    float: none;
    padding-top: 15px;
  }
  .blog-item .bi-content .bi-author {
    margin-right: 20px;
  }
  .blog-item .bi-content .bi-cata {
    float: none;
    margin-top: 10px;
  }
  .newsletter-form input {
    padding-right: 25px;
  }
  .newsletter-form .nl-send-btn {
    position: relative;
    padding: 13px 25px;
    margin-top: 20px;
  }
}

/*---------------------
	Other Pages
-----------------------
=======================*/

.page-info-section {
  height: 200px;
  position: relative;
}

.page-info-section:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000;
  opacity: 0.65;
}

.page-info-section .page-info-content {
  position: relative;
  height: 100%;
  width: 100%;
  display: table;
  z-index: 2;
}

.page-info-section .page-info-content .pi-inner {
  display: table-cell;
  vertical-align: middle;
}

.page-info-section .page-info-content h2 {
  color: #fff;
  margin-bottom: 15px;
}

.page-info-section .site-breadcrumb {
  padding-left: 2px;
}

.page-info-section .site-breadcrumb a,
.page-info-section .site-breadcrumb span {
  color: #fff;
}

.page-info-section .site-breadcrumb i {
  color: #fff;
  margin: 0 8px;
}

.pagination-area {
  padding-top: 60px;
  position: relative;
}

.pagination-area p {
  float: right;
  margin-bottom: 0;
  padding-top: 9px;
}

.pageination-list {
  list-style: none;
  display: inline-block;
}

.pageination-list li {
  display: inline;
}

.pageination-list a {
  display: inline-block;
  color: #252525;
  border: 1px solid #ebebeb;
  padding: 10px 14px;
  margin-right: 3px;
  font-size: 16px;
  border-radius: 2px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.pageination-list a:hover {
  color: #fff;
  background: #dd3e3e;
  border: 1px solid #dd3e3e;
}

/*---------------------
	Helper CSS
-----------------------*/
.section-title {
  text-align: center;
  margin-bottom: 70px;
}

.section-title.title-left {
  text-align: left;
}

.section-title span {
  font-size: 16px;
  font-weight: 700;
  color: #dd3e3e;
  margin-bottom: 10px;
  display: block;
}

.section-title h2 {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.spad {
  padding: 100px 0;
}

.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 0;
}
