<nav class="nav">
  <div class="container">
    <div class="logo">
      <a href="#">Your Logo</a>
    </div>
    <div id="mainListDiv" class="main_list">
      <ul class="navlinks">
        <li><a href="#">Accueil</a></li>
        <li class="nav-item dropdown">
          <a
            href="#"
            class="dropdown-toggle"
            data-toggle="dropdown"
            data-hover="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            >Actualités</a
          >
          <div class="dropdown-menu">
            <span class="dropdown-item" routerLink="/article">Articles</span>
            <span class="dropdown-item" routerLink="/sermon">Homélies</span>
            <span class="dropdown-item" routerLink="/event">Evénements</span>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            href="#"
            class="dropdown-toggle"
            data-toggle="dropdown"
            data-hover="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            >Nouvelles</a
          >
          <div class="dropdown-menu">
            <span
              class="dropdown dropright"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <span class="dropdown-item-mod">Notre Spiritualité</span>
              <div class="dropdown-menu">
                <span class="dropdown-item">François d’Assise</span>
                <span class="dropdown-item"
                  >Ecrits de Saint François d’Assise</span
                >
              </div>
            </span>
            <span class="dropdown-item">Signe et Symboles</span>
            <span class="dropdown-item"> Publications Franciscaines</span>
          </div>
        </li>

        <li><a routerLink="/contact">Contact</a></li>
        <li>
          <div class="btn-group mr-3" *ngIf="username == ''">
            <div
              class="btn-group"
              ngbDropdown
              role="group"
              aria-label="Button group with nested dropdown"
            >
              <button class="btn connexion" (click)="gotoLogin()">
                Connexion
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <span class="navTrigger" id="navTrigger" (click)="openSide()">
      <i></i>
      <i></i>
      <i></i>
    </span>
    <span class="navTriggerClose" id="navTriggerClose" (click)="closeSide()">
      x
    </span>
  </div>
</nav>

<!--<app-carous></app-carous>-->

<!--<div style="height: 1000px">
<div id="mySidepanel" class="sidepanel">
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>     
</div>-->

<!-- Jquery needed -->

<!-- Function used to shrink nav bar removing paddings and adding black background -->
